[submodule "open-data-platform"]
	path = open-data-platform
	url = https://github.com:marouenes/open-data-platform.git
[submodule "TakeoOff-API"]
	path = TakeoffAPI
	url = https://github.com/BenAyedMehdi/TakeOff-API.git
[submodule "TakeOff-Client"]
	path = TakeOff-Client
	url = https://github.com:BenAyedMehdi/TakeOff-Client.git
